<main class="playground">
  <ng-container *ngIf="!gameover; else menu">
    <button
      class="player player-1"
      [ngClass]="{ 'player-active': currentPlayer === 1 }"
      (click)="skip(1)"
    >
      {{ currentPlayer === 1 && "<>" }}
    </button>
    <button
      class="player player-2"
      [ngClass]="{ 'player-active': currentPlayer === 2 }"
      (click)="skip(2)"
    >
      {{ currentPlayer === 2 && "<>" }}
    </button>
  </ng-container>
  <ng-template #menu>
    <button class="ready" (click)="start()">READY</button>
  </ng-template>
</main>
