<main class="playground" [ngClass]="{ 'playground-menu': gameover }">
  <ng-container *ngIf="!gameover; else menu">
    <button
      class="player player-1"
      [ngClass]="{ 'player-active': currentPlayer === 1, 'player-blocked': rBlocked }"
      (click)="skip(1)"
    >
      {{ currentPlayer === 1 ? "<>" : "" }}
    </button>
    <button
      class="player player-2"
      [ngClass]="{ 'player-active': currentPlayer === 2, 'player-blocked': lBlocked }"
      (click)="skip(2)"
    >
      {{ currentPlayer === 2 ? "<>" : "" }}
    </button>
  </ng-container>
  <ng-template #menu>
    <div *ngIf="winner" class="title">
      WINNER:
      <div
        class="winner glow"
        [ngClass]="{ 'winner-1': winner === 1, 'winner-2': winner === 2 }"
      ></div>
    </div>
    <button class="ready" (click)="start()" [disabled]="!restartEnabled" [ngClass]="{ 'ready-disabled': !restartEnabled }">READY</button>
  </ng-template>
</main>
