.playground {
    display: flex;
    flex-direction: row;
    background-color: #333;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.player {
    font-family: 'Courier New', Courier, monospace;
    width: 50vw;
    height: 100vh;
    background-color: #333;
    color: #333;

    &-active {
        background-color: #167c14;
        color: #fafafa;

        font-size: 8em;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
}

.ready {
    font-family: 'Roboto', Courier, monospace;
    height: 70%;
    width: 70%;
    font-size: 10em;
    background-color: #10ab56;
}