.playground {
    font-family: "Courier New", Courier, monospace;
    display: flex;
    flex-direction: column;
    background-color: #333;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    &-menu {
        flex-direction: column;
        color: #fafafa;
    }

    & .title {
        font-size: 2em;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin-bottom: 100px;
    }
}

.winner {
    width: 100px;
    height: 100px;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    vertical-align: middle;
    line-height: 2;

    &-1 {
        background-color: #9d0e0e;

        color: rgba(255, 255, 255, 1);
        box-shadow: 0 15px 105px rgba(199, 34, 34, 0.7);
    }

    &-2 {
        background-color: #0f868a;

        color: rgba(255, 255, 255, 1);
        box-shadow: 0 15px 105px rgba(15, 162, 175, 0.7);
    }
}

.player {
    font-family: "Courier New", Courier, monospace;
    font-weight: 2em;
    width: 100vw;
    height: 50vh;
    background-color: #333;
    color: #333;
    transition: ease-in-out 500ms;

    font-size: 100px;
    vertical-align: middle;
    line-height: 2;

    &-active {
        color: #fafafa;

        writing-mode: vertical-rl;
        text-orientation: mixed;

        opacity: 0.9;
    }

    &-1 {
        background-color: #9d0e0e;
        border-top: #9d0e0e solid 50px;
        border-bottom: #333 solid 25px;
    }

    &-2 {
        background-color: #0f868a;
        border-top: #333 solid 25px;
        border-bottom: #0f868a solid 50px;
    }

    &-blocked {
        background-color: #5a730a !important;
    }
}

.ready {
    font-family: "Roboto", Courier, monospace;
    font-weight: 800;
    height: 30%;
    width: 70%;
    font-size: 2em;
    background-color: #10ab56;

    &-disabled {
        background-color: #76960b;

        color: rgba(255, 255, 255, 1);
        box-shadow: 0 15px 105px rgba(93, 193, 11, 0.7);
    }

    color: rgba(255, 255, 255, 1);
    box-shadow: 0 15px 105px rgba(11, 193, 105, 0.7);
}

.blur {
    position: absolute;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px) !important;
    top: 0;
    left: 0;
    z-index: 100;
}

.box {
    position: absolute;
    width: 100vw;
    height: 25px;
    animation: none;

    &-expanded {
        animation: expandHeight 0.5s forwards; /* Animation name, duration, and fill mode */
    }

    &-1 {
        background-color: #9d0e0e;
        top: 0;
    }

    &-2 {
        background-color: #0f868a;
        bottom: 0;
    }
}

@keyframes expandHeight {
    from {
        height: 50px;
        opacity: 1;
        z-index: 100;
    }
    to {
        height: 100vh;
        opacity: 0;
        z-index: -1;
    }
}
