<div class="blur" *ngIf="blur"></div>
<div class="box box-1" [ngClass]="{ 'box-expanded': gameover && winner === 1 }"></div>
<div class="box box-2" [ngClass]="{ 'box-expanded': gameover && winner === 2 }"></div>
<main class="playground" [ngClass]="{ 'playground-menu': gameover }">
  <ng-container *ngIf="!gameover; else menu">
    <button
      class="player player-1"
      [ngClass]="{ 'player-active': currentPlayer === 1, 'player-blocked': rBlocked }"
      (click)="skip(1)"
    >
      {{ currentPlayer === 1 ? rCat : "" }}
    </button>
    <button
      class="player player-2"
      [ngClass]="{ 'player-active': currentPlayer === 2, 'player-blocked': lBlocked }"
      (click)="skip(2)"
    >
      {{ currentPlayer === 2 ? bCat : "" }}
    </button>
  </ng-container>
  <ng-template #menu>
    <div *ngIf="winner" class="title">
      <div
        class="winner glow"
        [ngClass]="{ 'winner-1': winner === 1, 'winner-2': winner === 2 }"
      >{{ winner === 1 ? rCat : bCat }}</div>
    </div>
    <button class="ready" (click)="start()" [disabled]="!restartEnabled" [ngClass]="{ 'ready-disabled': !restartEnabled }">READY</button>
  </ng-template>
</main>
